*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    



}
a{
    position: relative;
    color: aqua;
    font-size: 3rem;
    overflow: hidden;
    transition: all 0.3s;
    
   
    
    background-color: black;
    text-decoration: none;
    border: 3px solid burlywood;
    padding: 2rem 5rem;

   


}

a:before{
    content: "Download";
    position: absolute;
    top:0;
    left:0;

    font-weight: bold;
    background: black;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
   

    

}
a:hover::before{
    transform: translateY(0);
}